.customSolutions {
    padding: 80px 0px;
    &__title {
        max-width: 900px;
        margin-bottom: 24px;
    }
    &-block {
        align-items: flex-start;
        &__content {
            max-width: 320px;
        }
    }
}