.disclosure {
    padding-top: 80px;
    &-accordion {
        border-radius: 0px;
        &:first-child {
            border-radius: 12px 12px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 12px 12px;
        }
    }
}