.fundManagers {
    background-color: $grey-light;
    padding: 80px 0px; 
    &__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    }
    &-block {
        background: #fff;
        padding: 0;
        padding-left: 32px;
        &__img_mob {
            display: none;
        }
    }
}