.main {
    padding-top: 109px;
    overflow: hidden;
    &.about {
        padding-top: 67px;
        .primary {
            background: $stealBlue url(../img/about-page/background-img.png) no-repeat right bottom / cover;
        }
    }
    overflow: hidden;
    &.documents {
        padding-top: 67px;
        .primary {
            background: $stealBlue url(../img/documents-page/background-img.png) no-repeat right bottom / contain;
        }
    }
    &.disclosure {
        padding-top: 67px;
        .primary {
            background: $stealBlue url(../img/disclosure-page/background-img.png) no-repeat right 50px bottom / contain;
        }
    }
}