.documents {
    padding-top: 80px;
    &__title {
        font-family: "Navigo", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 56px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &-accordion {
        margin-top: 80px;
    }
}