.raiffeisen {
    padding: 80px 0px;

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
        color: $black;
    }

    &__wrapper {
        margin-top: 24px;
        margin-bottom: 80px;
    }

    &-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid #E9EAEA;
        padding: 32px 0px;
        gap: 44px;

        &:last-child {
            border: none;
        }

        .icon__wrapper {
            padding: 16px;
            margin-top: -5px;
        }

        &__title {
            font-family: "Navigo", sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 8px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &-banner {
        display: flex;
        border-radius: 20px;
        background-color: $grey-light;
        align-items: center;
        justify-content: space-between;
        padding: 40px 64px;
        gap: 15px;

        &__title {
            font-family: "Navigo", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 32px;
        }

        &__text {
            max-width: 400px;
            min-width: 300px;
            font-size: 16px;
            line-height: 26px;
            color: $black;
        }

        &__img {
            max-width: 222px;
            min-width: 0;
        }
    }
}