.values {
    .icon__wrapper {
        background-color: #F4F4F4;
        margin-top: -4px;
    }

    &__title {
        font-size: 36px;
        line-height: 42px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 56px;
    }

    &__container {
        flex-basis: calc(50% - 16px);
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    &-block {
        align-items: flex-start;
        gap: 24px;
        background: #fff;
        padding: 0;
        min-height: 126px;
        overflow: unset;


        &__title {
            margin-bottom: 12px;
            font-weight: 550;
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;

            &:nth-child(3) {
                margin-top: 70px;
            }
        }
    }
}