.values {
    .icon__wrapper {
        background-color: #F4F4F4;
    }

    &__title {
        font-size: 36px;
        line-height: 42px;
    }

    &__wrapper {
        row-gap: 32px;
        margin-bottom: 0;
    }

    &-block {
        align-items: flex-start;
        gap: 24px;
        background: #fff;
        padding: 0;

        &__title {
            margin-bottom: 12px;
            font-weight: 550;
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}